html,body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: monospace;
}
.hide{
	opacity: 0;
}
body{
	z-index: -1;
}
.show-hide-anim{
	transition: all 0.7s ease-in-out;  

}
#navbar{
	transform: translateX(-101%); /*101 to hide shadow*/
	text-align: center;
	width: 23%;
	min-width: 150px;
	height: 100%;
	box-shadow: 3px 0px 1px 1px rgba(0,0,0,0.2);
	z-index: 2;
	position: fixed;
	background-color: #EEEEEE;
}
#name{
	height: 15%;
  	font-size: 2.5em;
  	min-height: 100px;
}
#name>p{
  	background-color: #EEEEEE;
	min-width: 150px;
}
#description{
	height: 15%;
	min-width: 150px;

}
#links_container{
	height: 70%;
	text-align: center;	
}
.links,#name{
	color:black;
}
.links a{
	text-decoration: none;
	color: black;
	margin-top: 20px;

}
.links a:hover{
	text-decoration: underline;
	cursor: crosshair;
}
.links>a,#name>p,#description>p{
	display: inline-block;
	text-align: left;
	width: 80%;
	min-width: 150px;

}
#landing img{
	width:100%;
	height: 100%;
}
#landing{
		overflow-x: hidden;

	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-size: cover;
	  box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.3);


	/*flex-wrap: wrap;*/
	/*z-index: 100;*/
}
#content{
	height: 100%;
	width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: url(images/mountain-min-md.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 0 0 1000px 1000px rgba(0,0,0,0.2);
}
#content>div{
	width: 100%;
	/*min-height: 100%;*/
	height: 100%;
}
#section-container{
		background-color: #74838d;  /*rgba(0,0,0,0.4);*/
}
#about,#projects,#contact,#experience{
	padding-top: 40px;
	padding-bottom: 10px;
	z-index: 100;
	background-color: #74838d;  /*rgba(0,0,0,0.4);*/
}
#contact{
	padding-bottom: 50px;
	text-align: center;
}
#contact a{
	padding: 0 15px 0 15px;
	text-decoration: none;

}
h1{
	font-size: 40px;
	font-weight: normal;
}
.content-body{
	border-radius: 1px;
	margin-left: 5%;
	margin-right: 5%;
	height: 95%;
	font-size: 15px;
	width: 69%;
	transform: translateX(-110%);
    transition-delay: 0.2s;

	/* top right bottom left */
	padding: 2px 20px 30px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #EEEEEE;

}
#aboutMeLinks{
	text-align: center;
}
#github-img{
	width:8%;
}
#upwork-img{
	width: 16%;
}
@media screen and (max-width: 750px){
	#github-img{
		width:12%;
	}
	#upwork-img{
		width: 30%;
	}
}
#my-name,#my-name-subtitle{
	font-size: 80px;
	color: #EEEEEE;
	z-index: 50;
	font-family: Courier New;
	/*border: 2px solid red;*/
	text-align: center;
}
#my-name-subtitle{
	font-size: 30px;
	margin-top:-5%;
}
#project-container{
	/*border: 3px solid black;*/
	margin-top:-2%;
	height: 80%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}
.project-item-overlay{
	background-color:rgba(0,0,0,0.5);
	width:100%;
	height:100%;
	transition: 1s ease;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
@media screen and (min-width: 750px){

	.anim-start-left{transform: translate(-100%);}
	.anim-start-top{transform: translateY(-100%);}
	.anim-start-right{transform: translateX(100%);}
	.anim-start-bottom{transform: translateY(100%);}
}

.overlay-text{
	font-size: 20px;
	background-color: rgba(116,131,141,0.4);
	padding: 5px;

}
.project-item{
	color:#EEEEEE;
	margin: 15px;
	box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
	transition: 0.8s;
	border-radius: 3px;
	display: flex;
	justify-content:center;
	align-items: center;
	overflow: hidden;
	text-decoration: none;


}
@media screen and (max-width: 750px){
	.project-item{
		width: 400px;
	    height: 250px;
	}
}
@media screen and (min-width: 751px){
	.project-item{
		width: 250px;
	    height: 250px;
	}
}
.project-item:hover > .project-item-overlay{
	transform: translateX(0%);
	cursor: pointer;
}
.project-item-overlay:hover{
	/*opacity:1;*/

}
#proj-item-1{
	background: url(images/mount-rushmore.jpg) no-repeat center center;
    background-size: cover;
}
#proj-item-2{
	background: url(images/bus.jpg) no-repeat center center;
    background-size: cover;
}
#proj-item-3{
	background: url(images/mountain-min-md.jpg) no-repeat center center;
    background-size: cover;
}
#proj-item-4{
	background: url(images/appointment.jpg) no-repeat center center;
    background-size: cover;
}
#proj-item-5{
	background: url(images/earthlab_classroom.jpg) no-repeat center center;
    background-size: cover;
}
#proj-item-6{
	background: url(images/die.jpg) no-repeat center center;
    background-size: cover;
}
.proj-subtitle{
	text-align: center;
}
.proj-subtitle span {
	font-style: italic;
}

/* MOBILE HAMBURGER MENU */
.hamburger,.cross,.menu{
	display: none;
}
.hamburger{
}
body{
	margin:0;
	width:100%;
	height:100vh;
  	background:#ffffff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
header{
	width:100%; 
	background:#ffffff; 
	height:60px; 
	line-height:60px;
	border-bottom:1px solid #dddddd;
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:2.2em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:100000000000000;

}
.hamburger:focus{
	outline: 0;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:4em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:100000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}
header{display:inline-block; font-size:12px;}
span{padding-left:20px;}
a{color:#336699;}


















